/* Universal Styles */
html {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  scroll-behavior: smooth;
  word-spacing: 0.1rem;
}

body {
  margin: 0;
  background-color: rgb(249, 250, 239);
  display: block;
}

h1 {
  color: rgb(0, 174, 255);
  justify-self: center;
  align-self: center;
  font-size: 2rem;
}

h2 {
  font-size: 1.1rem;
}

button h2 {
  margin: 0.6rem 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
  background-color: rgb(0, 56, 95);
  border-color: rgb(0, 56, 95);
  border-width: 0.2rem;
  border-radius: 0.56rem;
  border: none;
  color: rgb(239, 242, 192);
  transition: all 0.2s ease-out;

  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

button:hover {
  background-color: rgb(239, 242, 192);
  color: rgb(0, 56, 95);
}

span {
  display: inline-block;
}

span.ani1 {
  transition-delay: 10s;
  animation: bounce 1s ease-in forwards;
  animation-delay: calc(0.6s + calc(0.001s * var(--i)));
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-3rem);
  }

  40%,
  100% {
    transform: translateY(0rem);
  }
}

h1.ani2 {
  animation: pop 1s ease-in forwards;
  animation-delay: 1.5s;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 56, 95);
  padding: 0.56rem 0;
  box-shadow: 0 0.22rem 0 rgb(0, 174, 255);
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 1;
}

nav h1 {
  font-size: 1.16rem;
  margin-left: 2.5rem;
  color: rgb(239, 242, 192);
}

nav span {
  margin-left: 0.56rem;
  opacity: 1;
}

nav a {
  text-decoration: none;
  color: rgb(239, 242, 192);
  padding: 0.9rem;
  transition: all 0.2s ease-out;
  border-radius: 0.56rem;
}

nav a:hover {
  color: rgb(0, 56, 95);
  background-color: rgb(239, 242, 192);
  border-radius: 0.56rem;
  padding: 0.9rem;
  background-size: contain;
}

p {
  font-size: 1.2rem;
}

footer {
  justify-content: center;
  align-content: center;
  text-align: center;
  /* box-shadow: 0 -0.1rem 0 rgb(0, 0, 0); */
  margin: 3rem 0;
}

/* IDs */
#home {
  text-align: right;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7rem 0 5rem 0;
}

#home img {
  overflow: hidden;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin-right: 4.2rem;
}

#mission {
  text-align: left;
  margin-left: 4.2rem;
  width: 45%;
  overflow-wrap: normal;
}

#mission h1 {
  font-size: 4rem;
}

#content {
  margin: 5rem 10rem;
  /* align-content: stretch; */
}

#info p {
  margin-bottom: 1rem;
}

/* Classes */
.anchor {
  position: relative;
  top: -5.5rem;
  visibility: hidden;
}

.hanchor {
  top: -100rem;
  visibility: hidden;
  position: relative;
}

.spacedBtn {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1rem;
}

.card {
  border-radius: 0.5rem;
  /* display: inline-flex; */
  /* height: 100%; */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  flex-direction: row;
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 4rem;
  width: 100%;
}

.inline {
  display: inline-flex;
}

.card img {
  display: flex;
  /* object-fit: cover; */
  overflow: hidden;
  max-width: 100%;
  max-height: 25rem;
  width: auto;
  height: auto;
  /* border-top-right-radius: 0.5rem; */
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  /* border-radius: 0.5rem; */
}

.card hr {
  margin: -0.01rem 0;
  border: 0.01rem solid rgba(0, 0, 0, 0.125);
  /* width: 100%; */
}

.card-body hr {
  border: 0.01rem solid rgba(0, 0, 0, 0.125);
  margin: 0 2rem;
}

.card-body {
  text-align: center;
  align-items: center;
  background-color: white;
  flex: 1;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  min-width: 40%;
}

.card-body ul {
  text-align: left;
}
