@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#aboutPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	text-align: left;
	margin: 60px 0;
}

#aboutPage.fade-in {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

#aboutPage.fade-out {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

#heroDesc {
	font-size: 22px;
}

.aboutBio {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 250px;
}

.imageContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.imageWrapper {
	width: 20%;
	height: auto;
	position: relative;
	transition: transform 0.3s, filter 0.3s;
}

.imageWrapper.larger {
	width: 20%;
	z-index: 1;
	transform: translateY(-50px);
}

.imageWrapper.left {
	transform: translateX(30px);
	width: 15%;
}

.imageWrapper.right {
	transform: translateX(-30px);
	width: 15%;
}

.imageWrapper img {
	width: 100%;
	height: auto;
	display: block;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}

.imageWrapper:hover {
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));
	transform: scale(1.05);
}

/* COLLAPSIBLE */

.subSection {
	margin: 30px 0;
	border-bottom: 1px solid var(--black);
	width: 100%;
}

.Collapsible {
	border-top: 1px solid var(--black);
	padding: 15px 10px;
	background-color: white;
}

.Collapsible__contentInner {
	margin: 20px 0;
	font-size: 20px;
}

.Collapsible__trigger {
	display: flex;
	font-weight: bold;
	font-size: 22px;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	position: relative;
	color: var(--black);
	cursor: pointer;
}

.Collapsible__trigger:after {
	font-family: 'Material Icons';
	font-size: 30px;
	color: var(--red);
	content: 'expand_more';
	display: block;
	transition: transform 200ms;
}

.Collapsible__trigger.is-open:after {
	transform: rotateZ(180deg);
}
