@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

* {
  font-family: Poppins;
}

:root {
  --darkBlue: rgb(0, 56, 95);
  --lightBlue: rgb(0, 174, 255);
  --cream: rgb(239, 242, 192);
}

body {
  margin: 0;
  background-color: rgb(249, 250, 239);
}

#content {
  margin: 3rem 10rem;
}

h1 {
  color: var(--lightBlue);
}
