@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

* {
	font-family: Poppins;
	box-sizing: border-box;
}

:root {
	--black: rgb(0, 56, 95);
	--backgroundWhite: rgb(242, 242, 242);
	--gray: #cecece;
	--grayAccent: #aeaeae;
	--speed: 500ms;
	--yellow: #ffc107;
	--red: #e91e63;
	--switches-bg-color: var(--yellow);
	--switches-label-color: white;
	--switch-bg-color: white;
	--switch-text-color: goldenrod;
}

h1 {
	margin: 0;
}

body {
	color: var(--black);
	margin: 0;
	background-color: var(--backgroundWhite);
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 250px;
}
