/* NavBar */
.navigation {
  background-color: var(--darkBlue);
  box-shadow: 0 0.22rem 0 var(--lightBlue);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 3rem;
  color: var(--cream);

  top: 0;
  position: sticky;
  /* width: 100%; */
  z-index: 1;
}

.navigation h1 {
  font-size: 1.7rem;
  color: var(--cream);
}

a {
  text-decoration: none;
  color: inherit;
}

nav a {
  padding: 0.5rem;
  border-radius: 0.6rem;
  transition: all 0.15s ease-out;
  margin: 0 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

nav a:hover {
  color: var(--darkBlue);
  background-color: var(--cream);
}

/* Stylized Button */
.stylizedBtn {
  cursor: pointer;
  background-color: rgb(0, 56, 95);
  border-color: rgb(0, 56, 95);
  border-width: 0.2rem;
  border-radius: 0.56rem;
  border: none;
  color: rgb(239, 242, 192);
  transition: all 0.2s ease-out;
  font-weight: bold;
  padding: 0.7rem 2rem;
  width: fit-content;

  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.stylizedBtn:hover {
  color: var(--darkBlue);
  background-color: var(--cream);
}

/* ProjectCard and InternshipCard */
.box {
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 1rem;
}

.box hr {
  border: 0.01rem solid rgba(0, 0, 0, 0.256);
}

.innerBox {
  margin: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proj {
  min-height: 13rem;
}

.tech {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.techContainer {
  display: flex;
  align-items: center;
}

.btnContainer {
  height: 7rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.details {
  display: flex;
  justify-content: space-between;
}

.projImg {
  width: 100%;
  display: flex;
  justify-content: center;
}

.projImg img {
  max-height: 400px;
}
