.container {
	width: 50%;
	height: 500px;
	margin: 200px auto 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.glass {
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0)
	);
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	padding: 20px;
	text-align: left;
}

.review {
	margin-left: 80px;
}

.testimonial-image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.testimonial-name {
	font-size: 24px;
	margin: 0;
}

.testimonial-title {
	font-size: 18px;
	opacity: 0.8;
	margin: 0;
}

.testimonial-description {
	margin-top: 50px;
	font-size: 16px;
	opacity: 0.9;
}
