#homePage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	text-align: left;
	margin-bottom: 100px;
}

#homePage.fade-in {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

#homePage.fade-out {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

#heroText {
	background: linear-gradient(to right, var(--yellow), var(--red));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 10px;
}

#heroTextWork {
	background: linear-gradient(to right, var(--grayAccent), var(--black));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 10px;
}

#homePage p {
	font-size: 22px;
}

.experiences {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homeBio {
	margin: 130px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
