.intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.intro img {
  width: 25%;
  border-radius: 50%;
}

.bio {
  display: flex;
  flex-direction: column;
  line-height: 2.2rem;
  width: 50%;
}

.bio h1 {
  font-size: 4rem;
}

.bio p {
  font-size: 1.3rem;
}

.aboutBtns {
  margin-top: 2.5rem;
  display: flex;
  max-width: 45rem;
  justify-content: space-between;
}
