.parentHome {
	width: 100%;
}

#homePage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	text-align: left;
}

#homePage.fade-in {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

#homePage.fade-out {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

#heroText {
	background: linear-gradient(to right, var(--yellow), var(--red));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 10px;
}

#heroTextWork {
	background: linear-gradient(to right, var(--grayAccent), var(--black));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 10px;
}

#homePage p {
	font-size: 22px;
}

.experiences {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 250px;
}

.homeBio {
	margin: 130px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 250px;
}

.end {
	background: linear-gradient(
			to bottom,
			var(--backgroundWhite) 0%,
			transparent 100%
		),
		linear-gradient(to right, var(--red), var(--yellow));
	background-size: 100% 70%, auto;
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 1000px;
}
