/* NavBar */
.navAnchor {
	top: 0px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	position: sticky;
	z-index: 1;
	background-color: var(--backgroundWhite);
	padding: 0 250px 10px;
}

.interactive {
	display: flex;
}

.funFact {
	font-size: 30px;
	font-weight: bold;
	margin-left: 15px;
	height: 50px;
	width: 50px;
	background-color: var(--red);
	color: white;
	border: none;
	border-radius: 100%;
	cursor: pointer;
	transition: var(--speed) ease;
}

.funFact:hover {
	background-color: var(--redAccent);
}

.navigation {
	margin-top: 30px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

#menu-container {
	cursor: pointer;
}

.dropdown-item-container {
	list-style: none;
	padding: 0;
	width: 100%;
}

.dropdown-menu {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 100px;
	right: 250px;
	background-color: white;
	border-radius: 8px;
	padding: 10px 15px 5px;
	width: 200px;
}

.dropdown-menu.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	transition: var(--speed) ease;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
}

.dropdown-menu.inactive {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-20px);
	transition: var(--speed) ease;
}

.dropdown-menu ul li {
	padding: 10px 0;
}

.dropdown-menu ul li:hover {
	background-color: var(--gray);
	cursor: pointer;
	border-radius: 10px;
}

.navLinks {
	text-decoration: none;
	color: inherit;
}
/* Hamburger */
#hamburger-container {
	cursor: pointer;
}

#hamburger {
	width: 40px; /* Decreased width */
	height: 30px; /* Decreased height */
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

#hamburger span {
	display: block;
	position: absolute;
	height: 3px; /* Decreased height */
	width: 100%;
	background: var(--black);
	border-radius: 6px; /* Adjusted border radius */
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(1) {
	top: 0px;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
	top: 12px; /* Increased spacing */
}

#hamburger span:nth-child(4) {
	top: 24px; /* Increased spacing */
}

#hamburger.open span:nth-child(1) {
	top: 12px; /* Increased spacing */
	width: 0%;
	left: 50%;
}

#hamburger.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
	top: 12px; /* Increased spacing */
	width: 0%;
	left: 50%;
}

/* Toggle Switch */
/* container for all of the switch elements 
    - adjust "width" to fit the content accordingly 
*/
.switches-container {
	width: 200px;
	position: relative;
	display: flex;
	padding: 0;
	background: var(--switches-bg-color);
	line-height: 3rem;
	border-radius: 3rem;
}

/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
	visibility: hidden;
	position: absolute;
	top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
	width: 50%;
	padding: 0;
	margin: 0;
	text-align: center;
	cursor: pointer;
	color: var(--switches-label-color);
}

/* switch highlighters wrapper (sliding left / right) 
    - need wrapper to enable the even margins around the highlight box
*/
.switch-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50%;
	padding: 0.15rem;
	z-index: 3;
	transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	/* transition: transform 1s; */
}

/* switch box highlighter */
.switch {
	border-radius: 3rem;
	background: var(--switch-bg-color);
	height: 100%;
}

/* switch box labels
    - default setup
    - toggle afterwards based on radio:checked status 
*/
.switch div {
	width: 100%;
	text-align: center;
	opacity: 0;
	display: block;
	color: var(--switch-text-color);
	transition: opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
	will-change: opacity;
	position: absolute;
	top: 0;
	left: 0;
}

/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked ~ .switch-wrapper {
	transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked ~ .switch-wrapper {
	transform: translateX(100%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container
	input:nth-of-type(1):checked
	~ .switch-wrapper
	.switch
	div:nth-of-type(1) {
	opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container
	input:nth-of-type(2):checked
	~ .switch-wrapper
	.switch
	div:nth-of-type(2) {
	opacity: 1;
}

/* Custom background color */
.custom-toast-background.Toastify__toast {
	background-color: var(--red);
}

/* Custom progress bar color */
.custom-progress-bar .Toastify__progress-bar {
	background-color: white;
}
